<p id="notice"><%= notice %></p>

<div class="basic-body">
  <div class= "basic-body__presentaation">
    <div class= "container">
      <div class="row justify-content-md-center">
        <div class="card mb-3">
          <div class="card-body">
            <% @contents.each do |content| %>
            <%= video_tag url_for(content.image), controls: true, class: 'card-img-top' if content.image.attached? %>
            <h5 class="card-title"><%= content.name %></h5>
            <p class="card-text"><%= content.description %>%></p>
            <%= link_to 'Back', root_path %>
            <%end%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
