<p id="notice"><%= notice %></p>

<% if @content.image.attached? %>
  <%= video_tag @content.image, class: 'card-img-top' %>
<% end %>
<p>
  <strong>Name:</strong>
  <%= @content.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @content.description %>
</p>

<p>
  <strong>Product:</strong>
  <%= @content.product %>
</p>

<%= link_to 'Edit', edit_content_path(@content) %> |
<%= link_to 'Back', contents_path %>
